.footer {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background: #657483;
  color: #ecf0f1;
  font-size: 12px;
  position: relative;
  margin-top: auto; 
}

.footer p:hover {
  color: #3498db;
  transition: 0.3s;
  cursor: default;
}